.about {
  margin-bottom: 58px;
}

.about__wrapper {
  .wrapper();
}

.about__title {
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  margin-bottom: 28px;

  @media(min-width: @tablet-width) {
    font-size: 43px;
    line-height: 50px;
  }

  @media(min-width: @desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }
}

.about__item {
  line-height: 20px;
  font-weight: 700;
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }

  @media(min-width: @tablet-width) {
    font-size: 20px;
    line-height: 22px;
  }

  @media(min-width: @desktop-width) {
    font-size: 20px;
    line-height: 22px;
  }
}

.about__list {
  .list-unstyled();
}
