.about {
  margin-bottom: 58px;
}

.about__wrapper {
  .wrapper();
}
.about__title {
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  margin-bottom: 28px;
}

.about__item {
  line-height: 20px;
  font-weight: 700;
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }
}

.about__list {
  padding: 0;
}
