.additional-navigation__item a {
  font-size: 15px;
  font-weight: 700;
  color: @black;
  display: none;

  @media(min-width: @tablet-width) {
    display: none;
  }

  @media(min-width: @desktop-width) {
    display: inline-block;
  }
}

.additional-navigation__info {
  font-size: 15px;
  color: @dark-grey1;
  display: none;

  @media(min-width: @tablet-width) {
    display: inline-block;
  }
}
