.bestseller {
  margin-bottom: 31px;
}

.bestseller__wrapper {
  .wrapper();
}

.bestseller__title {
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  margin: 0 0 3.5px 0;
}

.bestseller__subtitle {
  line-height: 20px;
  font-weight: 700;
  color: @light-green1;
  text-transform: uppercase;
  margin: 0 0 17.5px 0;
}

.bestseller__description {
  font-size: 15px;
  color: @dark-grey1;
  margin: 0 0 28px 0;
}

.bestseller__list {
  .list-unstyled();
}

.bestseller__item {
  font-size: 15px;
  line-height: 20px;
  color: @dark-grey1;
  padding-bottom: 12px;
  border-bottom: solid @light-grey1 1px;
  margin-bottom: 28px;
}

.bestseller__image {
  margin-bottom: 25.5px;
}

.bestseller__price {
  font-weight: 700;
  margin-bottom: 24.5px;
  text-align: center;
}

.bestseller__actions {
  margin-bottom: 36px;
}

.bestseller__button {
  width: 260px;
  height: 52px;
  font-size: 18px;
}

.bestseller__line {
  width: 320px;
  height: 6px;
  background-image: url("../img/zigzag-line-desktop.png");
  background-repeat: repeat;
  display: inline-block;
}
