.button {
  width: 260px;
  font-size: @font-size-normal;
  line-height: 20px;
  font-weight: @bold-weight;
  text-transform: uppercase;
  color: @grey;
  border: solid @grey 2px;
  background-color: @white;
  display: inline-block;
  vertical-align: middle;
  text-align: center;

  &:hover,
  &:focus {
    background-color: @grey;
    color: @white;
  }

  &:active {
    background-color: @grey;
    color: @white;
    color: rgba(255, 255, 255, 0.3)
  }
}
