.catalog {
  .wrapper();
}

.catalog__list {
  .list-unstyled();
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(3, 318px);
    grid-column-gap: 50px;
  }
}

.catalog__item {
  margin-bottom: 30px;
  border: solid @grey-light 1px;
  padding-bottom: 27px;

  &:hover,
  &:focus {
    .catalog__item-text {
      box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
      margin-bottom: -1px;
      margin-right: 1px;
      margin-left: -1px;
    }
  }

  &:active {
    .catalog__item-text {
      box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
    }
  }

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto auto;
    padding-bottom: 0;
    margin-bottom: 52px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 318px;
    grid-template-rows: 462px auto;
    padding-bottom: 0;
    margin-bottom: 58px;
  }
}

.catalog__item-image {
  display: flex;
  justify-content: center;

  @media (min-width: @tablet-width) {
    grid-column: 1;
    grid-row: 1;
    width: 334px;
    height: 334px;
  }

  @media (min-width: @desktop-width) {
    height: 100%;
    width: 318px;
  }
}

.catalog__link {
  display: flex;
  width: 260px;
  height: 195px;
  margin-bottom: 26px;

  @media (min-width: @tablet-width) {
    width: 334px;
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    width: 318px;
  }
}

.catalog__image {
  margin: 0 auto;

  @media (min-width: @desktop-width) {
    width: 316px;
  }
}

.catalog__title {
  font-size: @font-size-small;
  line-height: 24px;
  font-weight: @bold-weight;
  color: @black;
  margin-bottom: 6px;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    font-size: @font-size-big;
    margin-bottom: 10px;
  }
}

.catalog__item-container {
  @media (min-width: @tablet-width) {
    grid-row: 1;
  }

  @media (min-width: @desktop-width) {
    margin-top: 18px;
    margin-bottom: 10px;
  }
}

.catalog__item-text {
  display: grid;
  padding: 0 27px;

  @media (min-width: @tablet-width) {
    grid-template-rows: auto 73px;
    padding-top: 27px;
    padding-left: 32px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 8px;
    padding-left: 26px;
  }
}

.catalog__details {
  width: 100%;
  font-size: @font-size-tiny;
  line-height: 30px;
  color: @grey;
  padding-bottom: 17px;
  margin-top: 5px;

  @media (min-width: @tablet-width) {
    font-size: @font-size-smaller;
    margin-bottom: 0;
    margin-top: 5px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 0;
  }
}

.catalog__buy {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 23px;
  padding-right: 4px;

  @media (min-width: @tablet-width) {
    grid-row: 2;
    border-top: solid @grey-light 1px;
  }
}

.catalog__button {
  color: @black;
  opacity: 0.2;

  &:hover {
    color: @green;
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.catalog__price {
  font-size: @font-size-smaller;
  font-weight: @bold-weight;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: @font-size-small;
  }
}
