.catalog-navigation__link {
  color: @white;
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
}

.catalog-navigation__block1 {
  background-color: @light-green1;
}

.catalog-navigation__block2 {
  background-color: @light-green2;
}


