.catalog-navigation {
  margin-bottom: 31px;

  @media (min-width: @tablet-width) {
    .wrapper();
  }
}

.catalog-navigation__link {
  color: @white;
  font-size: @font-size-middle;
  font-weight: @bold-weight;

  @media (min-width: @tablet-width) {
    font-size: @font-size-big;
    line-height: 30px;
  }
}

.catalog-navigation__list {
  .list-unstyled();
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr 1fr;
  }
}

.catalog-navigation__item--interior {
  grid-row: 1;
  grid-column: 1;
}

.catalog-navigation__item--toys {
  grid-row: 2;
  grid-column: 1;

  @media (min-width: @tablet-width) {
    grid-row: 1;
    grid-column: 2;
  }
}

.catalog-navigation__lamp {
  background-color: @green;
  height: 103px;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:hover,
  &:focus {
    background-color: @green-light-more;
    height: 108px;

    @media (min-width: @tablet-width) {
      height: 124px;
    }
  }

  @media (min-width: @tablet-width) {
    height: 119px;
  }
}

.catalog-navigation__toys {
  background-color: @green-light;
  height: 103px;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: @tablet-width) {
    height: 119px;
  }
}

.catalog-navigation__text {
  width: 130px;
  margin-top: -5px;

  &:hover,
  &:focus {
    margin-top: -10px;
  }
}

.catalog-navigation__icon-lamp {
  margin-top: 4px;
  margin-right: 6px;
}

.catalog-navigation__icon-block {
  margin-top: -1px;
  margin-right: -3px;

  @media (min-width: @tablet-width) {
    margin-right: 5px;
  }
}
