.catalog-intro {
  margin-bottom: 30px;
}

.catalog-intro__background {
  .form-intro-background();

  @media (min-width: @desktop-width) {
    margin-bottom: 122px;
  }
}

.catalog-intro__title {
  .intro__title;

  height: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  vertical-align: middle;
  align-self: center;
  align-items: center;

  @media (min-width: @tablet-width) {
    padding-top: 100px;
  }
}
