.contacts {
  margin-bottom: 39px;
}

.contacts__wrapper {
  .wrapper();
}
.contacts__title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  margin: 0 0 33px 0;
}

.contacts__email,
.contacts__email-text,
.contacts__address,
.contacts__address-text {
  font-size: 14px;
  line-height: 30px;
  color: @dark-grey1;
  margin: 0 0 45px 0;

}


.contacts__address-text {
  margin: 0 0 62px 0;
}

.contacts__map {
  margin-bottom: 42px;
}

.map__action {
  .wrapper()
}
.contacts__button {
  font-size: 18px;
}



