.contacts {
  margin-bottom: 39px;

  @media (min-width: @tablet-width) {
    margin-bottom: 56px;
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 103px;
  }
}

.contacts__wrapper {
  .wrapper();

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, auto);

  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 175px 350px auto;
    grid-template-rows: 55px 94px 71px repeat(2, auto);
  }
}

.contacts__flag {
  @media (max-width: @mobile-width-only) {
    display: none;
  }

  @media (min-width: @tablet-width) {
    display: flex;
    grid-row: 1;
    grid-column: 2;
    justify-content: right;
  }

  @media (min-width: @desktop-width) {
    grid-row: 2;
    grid-column: 1;
    justify-content: center;
  }
}

.contacts__title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  margin: 0 0 27px 0;
  grid-column: 1 span / 2;
  grid-row: 1;

  @media (min-width: @tablet-width) {
    font-size: 43px;
    line-height: 50px;
    grid-row: 1;
    grid-column: 1;
    margin: 0;
    margin-top: 24px;
  }

  @media (min-width: @desktop-width) {
    font-size: 53px;
    line-height: 57px;
    grid-row: 2;
    grid-column: 2;
  }
}

.contacts__online {
  grid-row: 2;
  grid-column: 1;
  display: flex;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    grid-row: 2;
    grid-column: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
  }

  @media (min-width: @desktop-width) {
    grid-row: 3;
    grid-column: 2;
    margin: 0;
    align-items: center;
  }
}

.contacts__offline {
  display: flex;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    grid-row: 2;
    grid-column: 2;
    margin-top: 40px;
    margin-bottom: 48px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    grid-row: 4;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
  }
}

.contacts__email,
.contacts__email-text,
.contacts__address,
.contacts__address-text {
  font-size: 14px;
  line-height: 30px;
  color: @dark-grey1;

  @media (min-width: @tablet-width) {
    font-size: 17px;
  }
}

.contacts__email-text {
  margin-right: 14px;
  margin-bottom: 30px;

  @media (min-width: @tablet-width) {
    margin-right: 51px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    margin-right: 68px;
    margin-top: 7px;
  }

  &::after {
    content: "";
    width: 100%;
    height: 1px;
    display: block;
    background-color: @light-green3;

    @media (min-width: @desktop-width) {
      margin-top: 5px;
    }
  }
}

.contacts__address-text {
  margin-right: 4px;
  margin-bottom: 61px;

  @media (min-width: @tablet-width) {
    margin: 0;
    margin-right: 40px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 56px;
  }
}

.contacts__map {
  margin: 0 -30px 44px -30px;
  display: flex;
  justify-content: center;

  @media (min-width: @tablet-width) {
    grid-row: 3;
    grid-column: 1 / span 2;
    background-image: url("https://via.placeholder.com/768x457");
    background-repeat: no-repeat;
    margin: 0 -50px 55px -50px;
  }

  @media (min-width: @desktop-width) {
    grid-row: 1 / span 5;
    grid-column: 3;
    display: flex;
    justify-self: right;
    background-image: url("https://via.placeholder.com/527x427");
    background-repeat: no-repeat;
    margin: 0;
  }
}

.contacts__map img {
  display: flex;
}

.contacts__action {
  @media (min-width: @tablet-width) {
    grid-row: 4;
    grid-column: 1 / span 2;
    display: flex;
    justify-content: center;
    align-self: end;
  }

  @media (min-width: @desktop-width) {
    grid-row: 5;
    grid-column: 2;
    justify-content: left;
  }
}

.contacts__button {
  font-size: 18px;
  display: inline-block;
  width: 100%;
  padding-top: 14px;
  padding-bottom: 14px;

  @media (min-width: @tablet-width) {
    font-size: 17px;
    width: 230px;
    padding-top: 14px;
    padding-bottom: 14px;
  }
}
