.form__contact {
  .form__base-type;
}

.contact__title {
  .form__base-type-title;
}

.contact__text {
  .form__base-type-text;
}

.contact__line {
  .form__base-type-line;
}


.contact__item {
  line-height: 18px;
  font-weight: 700;
  margin-bottom: 22px;

  &:last-child {
    margin-bottom: 34px;
  }

  @media (min-width: @tablet-width) {
    font-size: 19px;
  }

  @media (min-width: @desktop-width) {
    font-size: 19px;
  }
}

.contact__field {
  width: 100%;
  line-height: 18px;
  opacity: 0.3;
  border: none;
  border-bottom: solid @dark-grey1 2px;
  padding: 17px 0;

  @media (min-width: @tablet-width) {
    font-size: 19px;
  }

  @media (min-width: @desktop-width) {
    font-size: 19px;
  }
}

.contact__label {
  margin-bottom: 17px;
}
