.form__contact-details {
  .form__base-type;
  margin-bottom: 30px;
}

.contact-details__title {
  .form__base-type-title;
}

.contact-details__text {
  .form__base-type-text
}
.contact-details__line {
  .form__base-type-line;
}

.contact-details__field{
  .contact__field;

  &:last-child {
    border: solid @dark-grey1 2px;
  }
}

.contact-details__note {
  font-size: 14px;
  line-height: 16px;
  color: @dark-grey1;

}



