.form__contact-details {
  border: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: @tablet-width) {
    grid-template-columns: 175px auto;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 175px auto 175px;
  }

  margin-bottom: 30px;
}

.contact-details__title {
  .form__base-type-title;

  @media (min-width: @desktop-width) {
    grid-column: 1;
  }
}

.contact-details__text {
  .form__base-type-text;
}

.contact-details__field {
  .contact__field;

  &:last-child {
    border: solid @dark-grey1 2px;
  }
}

.contact-details__item {
  position: relative;

  @media (min-width: @desktop-width) {
    grid-column: 2;
  }
}

.contact-details__img {
  position: absolute;
  top: 0;
  right: 0;
}

.contact-details__note {
  font-size: 14px;
  line-height: 16px;
  color: @dark-grey1;

  @media (min-width: @tablet-width) {
    font-size: 17px;
    line-height: 30px;
    order: 2;
    align-self: center;
  }
}

.form__action {
  @media (min-width: @tablet-width) {
    grid-column: 1 / span 2;
    grid-row: 4;
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    grid-column: 2;
  }

  .form__button {
    display: inline-block;
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;

    @media (min-width: @tablet-width) {
      font-size: 17px;
      width: 230px;
      order: 1;
    }
  }
}
