.form__color {
  .form__base-type;

  @media (min-width: @tablet-width) {
    grid-template-columns: 175px auto;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 175px auto;
  }
}

.color__title {
  .form__base-type-title;
}

.color__text {
  .form__base-type-text;
}

.color__list {
  display: grid;
  .list-unstyled();

  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.color__item {
  .form__base-type-item;
}
