.form__contact {
  border: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: @tablet-width) {
    grid-template-columns: 175px auto;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 175px auto 175px;
  }
}

.contact__title {
  .form__base-type-title;
  grid-column: 1;
  grid-row: 1;
}

.contact__text {
  .form__base-type-text;
}

.contact__item {
  line-height: 18px;
  font-weight: @bold;
  margin-bottom: 22px;

  &:last-child {
    margin-bottom: 34px;
  }

  @media (min-width: @tablet-width) {
    font-size: @middle;
    display: flex;
  }
}

.contact__item--name {
  @media (min-width: @tablet-width) {
    grid-column: 2;
    grid-row: 1;
  }
}

.contact__item--surname {
  @media (min-width: @tablet-width) {
    grid-column: 2;
    grid-row: 2;
  }
}

.contact__item--second-name {
  @media (min-width: @tablet-width) {
    grid-column: 2;
    grid-row: 3;
  }
}

.contact__field {
  width: 100%;
  line-height: 18px;
  opacity: 0.3;
  border: none;
  border-bottom: solid @grey 2px;
  padding: 17px 0;

  @media (min-width: @tablet-width) {
    font-size: @middle;
    padding: 0;
  }
}

.contact__label {
  margin-bottom: 17px;

  @media (min-width: @tablet-width) {
    margin: 0;
    padding: 5px 24px 0 0;
  }
}
