.form__contact-details {
  border: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: @tablet-width) {
    grid-template-columns: 175px auto;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 175px auto 175px;
  }

  margin-bottom: 30px;
}

.contact-details__title {
  .form__base-type-title;

  @media (min-width: @desktop-width) {
    grid-column: 1;
  }
}

.contact-details__text {
  .form__base-type-text;
}

.contact-details__field {
  <<<<<<< HEAD .contact__field();
  =======.contact__field;

  &:last-child {
    border: solid @grey 2px;
  }

  >>>>>>>module5-task1
}

.contact-details__item {
  margin-bottom: 35px;
  display: flex;
  align-self: center;

  &:last-of-type {
    margin-bottom: 15px;
  }
}

.contact-details__item--text {
  border: solid @dark-grey1 2px;
  padding: 17px 15px 0 14px;
}

.contact-details__field--text {
  height: 124px;
  padding: 0;

  border: none;
  overflow: auto;
  outline: none;
  box-shadow: none;
  resize: none;
}

@media (min-width: @desktop-width) {
  grid-column: 2;
}

.contact-details__img {
  position: absolute;
  right: 5px;
  bottom: 15px;
}

.contact-details__title--extra {
  margin-bottom: 20px;
}

.contact-details__note {
  font-size: @smallest;
  line-height: 16px;
  color: @dark-grey1;
  margin-bottom: 30px;

  @media (min-width: @tablet-width) {
    font-size: @small;
    line-height: 30px;
    order: 2;
    align-self: center;
  }
}

.form__action {
  @media (min-width: @tablet-width) {
    grid-column: 1 / span 2;
    grid-row: 4;
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    grid-column: 2;
  }

  .form__button {
    display: inline-block;
    width: 100%;
    height: 52px;
    line-height: 16px;
    font-size: 17px;

    @media (min-width: @tablet-width) {
      width: 230px;
      order: 1;
    }
  }
}
