.form-description {
  margin-bottom: 29px;

  @media (min-width: @tablet-width) {
    margin-bottom: 81px;
  }

}

.form-description__wrapper {
  .wrapper();
}

.form-description__text {
  font-size: 13px;
  color: @dark-grey1;

  @media (min-width: @tablet-width) {
    font-size: 17px;
    line-height: 30px;
  }
}
