.form-intro {
  margin-bottom: 17px;
}

.form-intro__backgroud {
  background-color: @lighter-grey;
  width: 100%;
  height: 177px;

  @media (min-width: @tablet-width) {
    margin-top: -85px;
    border-top: 1px solid @light-grey;
    height: 223px;
    position: relative;
    margin-bottom: 67px;

    &::after {
      background-image: url("../img/zigzag-fill-tablet.png");
      background-repeat: repeat;
      content: "";
      width: 100%;
      height: 24px;
      display: inline-block;
      position: absolute;
      bottom: -10px;
    }
  }

  @media (min-width: @desktop-width) {
    height: 260px;
    margin-bottom: 108px;

    &::after {
      background-image: url("../img/zigzag-fill-desktop.png");
      height: 34px;
      display: inline-block;
      position: absolute;
      bottom: -10px;
    }
  }
}

.form-intro__title {
  .wrapper();
  .intro__title;

  @media (min-width: @tablet-width) {
    padding-top: 100px;
  }
}
