.form__contact {
  border: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 34px;

  @media (min-width: @tablet-width) {
    grid-template-columns: 167px auto;
    margin-bottom: 50px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 175px auto 175px;
  }
}

.form__contact.form__contact--actions {
  margin-bottom: 0px;
}

.contact__title {
  .form__base-type-title;
  grid-column: 1;
  grid-row: 1;
  margin-bottom: 29px;
}

.contact__text {
  .form__base-type-text;
}

.contact__item {
  line-height: 18px;
  font-weight: @bold-weight;
  margin-bottom: 25px;

  &:last-child {
    margin-bottom: 0px;
  }

  @media (min-width: @tablet-width) {
    font-size: @middle;
    display: flex;
    margin-bottom: 39px;
  }
}

.contact__item--name {
  @media (min-width: @tablet-width) {
    grid-column: 2;
    grid-row: 1;
  }
}

.contact__item--surname {
  @media (min-width: @tablet-width) {
    grid-column: 2;
    grid-row: 2;
  }
}

.contact__item--second-name {
  @media (min-width: @tablet-width) {
    grid-column: 2;
    grid-row: 3;
  }
}

.contact__item-text {
  border-bottom: solid @grey 2px;
  height: 50px;
  display: inline-block;
  width: 100%;

  @media (min-width: @tablet-width) {
    margin-left: 24px;
    padding-left: 19px;
    padding-bottom: 8px;
    position: relative;
    height: 37px;
  }
}

.contact__item-textimg {
  border-bottom: solid @grey 2px;
  height: 54px;
  display: inline-block;
  width: 100%;
  position: relative;
  padding-bottom: 4px;

  @media (min-width: @tablet-width) {
    padding-left: 10px;
    padding-bottom: 10px;
    position: relative;
    height: 36px;
  }
}

.contact__field {
  width: 100%;
  line-height: 18px;
  color: @normal-light-grey;
  border: none;
  padding-top: 15px;

  @media (min-width: @tablet-width) {
    font-size: @middle;
    padding: 0;
    position: absolute;
    top: -5px;
  }
}

.contact__label {
  margin-bottom: 17px;

  @media (min-width: @tablet-width) {
    margin: 0;
    padding: 0;
  }
}
