.form-intro {
  margin-bottom: 17px;
}

.form-intro-background() {
  background-color: @grey-lighter;
  width: 100%;
  height: 177px;

  @media (min-width: @tablet-width) {
    margin-top: -85px;
    border-top: 1px solid @grey-light;
    height: 223px;
    position: relative;
    margin-bottom: 80px;
  }

  @media (min-width: @desktop-width) {
    height: 260px;
    margin-bottom: 108px;
  }

  &::after {
    @media (min-width: @tablet-width) {
      background-image: url("../img/zigzag-fill-tablet.png");
      background-repeat: repeat;
      content: "";
      width: 100%;
      height: 24px;
      display: inline-block;
      position: absolute;
      bottom: -10px;
    }

    @media (min-width: @desktop-width) {
      background-image: url("../img/zigzag-fill-desktop.png");
      height: 34px;
      display: inline-block;
      position: absolute;
      bottom: -10px;
    }
  }
}

.form-intro__background {
  .form-intro-background();

  @media (min-width: @tablet-width) {
    margin-bottom: 70px;
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 108px;
  }
}

.form-intro__title {
  .intro__title-base();

  height: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: @tablet-width) {
    padding-top: 35px;
    height: 238px;
  }
}
