.form__base-type() {
  border: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(3, auto);
  }
}

.form__base-type-title() {
  display: flex;
  align-items: center;

  &::after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #63d1bb;
    display: inline-block;
  }

  @media (min-width: @tablet-width) {
    align-items: flex-start;

    &::after {
      display: none;
    }
  }

  @media (min-width: @tablet-width) {
    justify-content: center;
  }
}

.form__base-type-text() {
  line-height: 16px;
  font-weight: @bold-weight;
  color: @green;
  text-transform: uppercase;
  padding-right: 23px;

  @media (min-width: @desktop-width) {
    padding-right: 10px;
  }
}

.form__base-type-item() {
  line-height: 18px;
  font-weight: 700;
  margin-bottom: 17px;
  height: 35px;

  &:last-child {
    margin-bottom: 34px;
  }

  @media (min-width: @tablet-width) {
    font-size: 19px;
    margin-bottom: 55px;
    height: 20px;
  }

  @media (min-width: @desktop-width) {
    font-size: @middle;
  }
}
