.intro__background {
  .wrapper();
  background-image: url("../img/hero-mobile1.png");
  background-repeat: no-repeat;
  height: 283px;
}

.intro__title {
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
}
