.intro {
  @media (min-width: @tablet-width) {}
}

.intro__background {
  background-image: url("../img/header-mobile.png");
  background-repeat: no-repeat;
  height: 373px;

  @media (min-width: @tablet-width) {
    background-image: url("../img/header-tablet.png");
    background-repeat: no-repeat;
    height: 746px;
    margin-top: -95px;
  }

  @media (min-width: @desktop-width) {
    background-image: url("../img/header-desktop.png");
    background-repeat: no-repeat;
  }
}

.intro__title {
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: 43px;
    line-height: 50px;
    padding-top: 70px;
  }

  @media (min-width: @desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }
}
