.main-navigation {
  display: grid;
  justify-content: left;
  grid-template-columns: 47px 1fr;
  grid-template-rows: 79px repeat(5, auto);
  align-items: center;

  @media (min-width: @tablet-width) {
    .wrapper();

    margin-bottom: 20px;
    grid-template-columns: 166px 152px 82px 82px auto;
    grid-template-rows: 88px 65px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 20px;
    grid-template-columns: 2fr 2fr 3fr 1fr 1fr 2fr;
  }
}

.header-logo {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  grid-row: 1;
  grid-column: 1 / span 2;

  @media (min-width: @tablet-width) {
    grid-row: 1;
    grid-column: 1;
    justify-content: left;
  }

  @media (min-width: @desktop-width) {
    grid-row: 1;
    grid-column: 3;
    justify-self: center;
  }
}

.logo__link {
  display: flex;
  justify-content: center;
}

.logo__img {
  width: 86px;
  height: 35px;

  @media (min-width: @tablet-width) {
    width: 113px;
    height: 46px;
  }
}

.main-navigation--opened .main-navigation__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 20px;
  height: 14px;
  cursor: pointer;
  border: none;
  background: none;

  &::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 20px;
    height: 2px;
    background-color: #231F20;
    box-shadow: 0 6px 0 0 #231F20, 0 12px 0 0 #231F20;
  }

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.main-navigation--closed .nav__menu {
  @media (max-width: @mobile-width-only) {
    display: none;
  }
}

.main-navigation--closed .main-navigation__toggle {
  grid-row: 1;
  grid-column: 2;
  position: relative;
  justify-self: right;

  z-index: 2;
  display: block;
  width: 20px;
  height: 14px;
  cursor: pointer;
  border: none;
  background: none;
  margin-right: 30px;

  &::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 20px;
    height: 2px;
    background-color: #231F20;
    box-shadow: 0 6px 0 0 #231F20, 0 12px 0 0 #231F20;
  }

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.main-navigation--opened .main-navigation__toggle {
  grid-row: 1;
  grid-column: 2;
  position: relative;
  justify-self: right;

  z-index: 2;
  display: block;
  width: 21px;
  height: 20px;
  cursor: pointer;
  border: none;
  background: none;
  margin-right: 30px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 9px;
    left: 0px;
    width: 21px;
    height: 2px;
    background-color: #000000;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:active::before,
  &:active::after {
    background-color: fade(#000000, 30%);
  }

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.navigation__link {
  font-weight: 700;
  color: @black;

  @media (min-width: @tablet-width) {
    font-size: 15px;
  }
}

.user-list__link {
  font-weight: 700;
  color: @black;
  padding-left: 25px;

  @media (min-width: @tablet-width) {
    padding-left: 0px;
  }
}

.user-list__item--search {
  grid-column: 2;
  grid-row: 4;
  display: flex;
  justify-content: left;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.user-list__text {
  @media (min-width: @tablet-width) {
    display: none;
  }
}

.navigation__item,
.additional-navigation__item {
  display: flex;
  justify-content: left;

  @media (max-width: @mobile-width-only) {
    padding-left: 25px;
  }
}

.nav__menu {
  @media (max-width: @mobile-width-only) {
    display: flex;
    border-top: 1px solid @light-grey1;
    height: 79px;
    align-items: center;
  }
}

.nav__menu--last {
  @media (max-width: @mobile-width-only) {
    border-bottom: 1px solid #ECECEC;
  }

}

.user-list__icon {
  padding-left: 25px;

  @media (min-width: @tablet-width) {
    padding-left: 0;
    justify-content: center;
    display: flex;
  }
}

.additional-navigation__info {
  font-size: 15px;
  color: @dark-grey1;

  display: none;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: right;

    grid-row: 2;
    grid-column: 4 / span 2;
  }

  @media (min-width: @desktop-width) {
    grid-row: 2;
    grid-column: 5 / span 2;
  }
}

.user-list__icon--search {
  grid-column: 1;
  grid-row: 4;

  @media (min-width: @tablet-width) {
    grid-row: 1;
    grid-column: 3;
  }

  @media (min-width: @desktop-width) {
    grid-row: 1;
    grid-column: 4;
  }
}

.user-list__icon--catalog {
  grid-column: 1;
  grid-row: 2;

  content: "";

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.user-list__icon--order {
  grid-column: 1;
  grid-row: 3;

  content: "";

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.navigation__item--catalog {
  grid-column: 2;
  grid-row: 2;

  @media (min-width: @tablet-width) {
    grid-row: 2;
    grid-column: 1;
  }

  @media (min-width: @desktop-width) {
    grid-row: 1;
    grid-column: 1;
  }
}

.navigation__item--order {
  grid-column: 2;
  grid-row: 3;
  display: flex;
  justify-content: left;

  @media (min-width: @tablet-width) {
    grid-row: 2;
    grid-column: 2;
  }

  @media (min-width: @desktop-width) {
    grid-row: 1;
    grid-column: 2;
  }
}

.user-list__item--cart {
  grid-column: 2;
  grid-row: 5;

  @media (min-width: @tablet-width) {
    grid-row: 1;
    grid-column: 5;
    display: flex;
    justify-content: right;
  }

  @media (min-width: @desktop-width) {
    grid-row: 1;
    grid-column: 6;
  }
}

.user-list__icon--cart {
  grid-column: 1;
  grid-row: 5;

  @media (min-width: @tablet-width) {
    grid-row: 1;
    grid-column: 4;
  }

  @media (min-width: @desktop-width) {
    grid-row: 1;
    grid-column: 5;
  }
}

.additional-navigation__item--new {
  @media (min-width: @desktop-width) {
    grid-row: 2;
    grid-column: 1;
  }
}

.additional-navigation__item--sale {
  @media (min-width: @desktop-width) {
    grid-row: 2;
    grid-column: 2;
  }
}

.additional-navigation__item a {
  font-size: 15px;
  font-weight: 700;
  color: @black;
  display: none;

  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: inline-block;
  }
}
