.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background-color: @white;
  box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);
  z-index: 100;
  width: 320px;
  height: 336px;

  @media (min-width: @tablet-width) {
    width: 566px;
    height: 336px;
  }
}

.modal__wrapper {
  padding: 30px;

  @media (min-width: @tablet-width) {
    padding: 37px 30px 46px 30px;
  }
}

.modal__container {
  @media (min-width: @tablet-width) {
    width: 350px;
    margin: 0 auto;
  }
}

.modal__header {
  font-size: 25px;
  line-height: 30px;
  font-weight: @bold-weight;
  width: 60%;
  margin: 0 auto;
  text-transform: uppercase;
  margin-bottom: 14px;

  @media (min-width: @tablet-width) {
    width: 100%;
    font-size: 30px;
    line-height: 57px;
    text-align: center;
  }
}

.modal__text {
  font-size: 15px;
  line-height: 30px;
  margin-bottom: 20px;
  text-align: center;
}

.modal__sizes {
  display: flex;
  justify-content: space-between;
}

.modal__size {
  margin-bottom: 31px;
  position: relative;
  list-style-type: none;
  width: 82px;
  height: 52px;

  @media (min-width: @tablet-width) {
    width: 112px;
  }
}

.modal__size-radio + label {
  border: solid 2px rgba(68, 68, 68, 0.1);
  width: 82px;
  height: 52px;
  display: inline-block;
  text-align: center;
  padding-top: 11px;

  &:hover,
  &:focus {
    border: solid 2px rgba(68, 68, 68, 0.3);
  }

  &:active {
    color: @grey;
    border-color: @green;
  }
}

.modal__size-radio:checked + label {
  border: solid 2px rgba(68, 68, 68, 0.1);
  width: 82px;
  height: 52px;
  display: inline-block;
  text-align: center;
  padding-top: 11px;

  color: @grey;
  border-color: @green;
}

.modal__button {
  width: 100%;
  height: 52px;
  font-size: @font-size-normal;
  line-height: 16px;
  font-weight: @bold-weight;
  text-transform: uppercase;
  color: @white;
  background-color: @green;
  display: inline-block;
  text-align: center;
  padding: 18px;
}
