.social {
  background-color: @light-grey2;
}

.social__list {
  margin: 0;
  display: flex;
  display: flex;
justify-content: space-around;
}

.social__wrapper {
  .wrapper();
  padding-top: 25px;
  padding-bottom: 27px;
  border-bottom: solid @light-grey3 1px;
  margin-bottom: 29px;
}

.copyright__text {
  font-size: 19px;
  line-height: 18px;
  font-weight: 700;
  margin: 0;
}
.page-footer__copyright {
  display: flex;
  justify-content: space-around;
  margin-bottom: 32px;
}

