.page-footer {
  background-color: @grey-lighter;
  width: 100%;
}

.page-footer__wrapper {
  .wrapper();

  .social__link,
  .page-footer__logo a {
    color: black;
    opacity: 1;

    &:hover {
      color: @green-light-most;
    }

    &:active {
      color: @green-light-most;
      opacity: 0.3;
    }
  }

  @media (min-width: @tablet-width) {
    height: 143px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
}

.social__list {
  .list-unstyled();

  margin: 0;
  display: flex;
  justify-content: space-between;
  width: 142px;
  align-items: center;
}

.page-footer__logo {
  display: none;

  @media (min-width: @tablet-width) {
    display: inline-block;
  }
}

.page-footer__social {
  padding-top: 25px;
  padding-bottom: 22px;
  border-bottom: solid @grey-light-more 1px;
  margin-bottom: 18px;
  display: flex;
  justify-content: center;

  @media (min-width: @tablet-width) {
    width: 30%;
    border: none;
    margin: 0;
    padding: 0;
  }
}

.page-footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 180px;
  margin: 0 auto;
  padding-bottom: 25px;

  @media (min-width: @tablet-width) {
    padding-bottom: 0;
    margin: 0;
  }
}

.copyright__link {
  color: @green;

  &:hover {
    color: @green-light-most;
  }

  &:active {
    color: @green-light-most;
    opacity: 0.3;
  }
}

.copyright__text {
  font-size: @font-size-middle;
  line-height: 18px;
  font-weight: @bold-weight;
  margin: 0;
}
