.social {
  background-color: @light-grey2;
}

.social__list {
  margin-bottom: ;
}

.social__wrapper {
  width: 260px;
  padding-bottom: 27px;
  border-bottom: solid @light-grey3 1px;
  margin-bottom: 29px;
}

.copyright__text {
  font-size: 19px;
  line-height: 18px;
  font-weight: 700;
  margin: 0;
}

.copyright__htmlacademy-icon {
  margin-bottom: 23px;
}
