@font-size-tiny: 13px;
@font-size-smallest: 14px;
@font-size-smaller: 15px;
@font-size-small: 17px;
@font-size-normal: 18px;
@font-size-middle: 19px;
@font-size-big: 20px;
@font-size-bigger: 25px;
@font-size-biggiest: 27px;
@font-size-huge: 43px;
@font-size-giant: 53px;

@bold-weight: 700;
@font-weight-normal: 400;
