//Colors

@white: #FFFFFF;
@black: #000000;
@grey: #444444;
@grey-dark: #231F20;
@grey-light: #ECECEC;
@grey-lighter: #F1F1F1;
@grey-light-more: #E5E5E5;
@grey-light-super: #f9f9f9;
@grey-light-normal: #c6c6c6;
@green-dark: #149080;
@green: #63D1BB;
@green-light: #56C3B2;
@green-lighter: #62D1BA;
@green-light-more: #59D5BC;
@green-light-most: #46C1AE;

//Viewports

@tablet-width: 768px;
@desktop-width: 1140px;
@mobile-width-only: 767px;
