//Colors

@white: #FFFFFF;
@black: #000000;
@dark-grey1: #444444;
@dark-grey2: #231F20;
@light-grey1: #ECECEC;
@light-grey2: #F1F1F1;
@light-grey3: #E5E5E5;
@light-grey4: #f9f9f9;
@dark-green: #149080;
@light-green1: #63D1BB;
@light-green2: #56C3B2;
@light-green3: #62D1BA;
@light-green3: #6BC6B3;

//Viewports

@tablet-width: 768px;
@desktop-width: 1140px;
@mobile-width-only: 767px;
